body {
    font-family: Arial, sans-serif;
    background-color: #FFDDCC;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #88BB6B;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.menu-icon {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
}

.side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s ease;
    transform: translateX(-250px);
}

.side-menu.open {
    transform: translateX(0);
}

.side-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    background-color: #575757;
}

.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #444;
    padding-left: 20px;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

.dropdown-container.active {
    display: block;
    max-height: 500px;
}

.dropdown-btn {
    font-size: 25px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-btn .arrow {
    float: right;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.dropdown-btn .arrow.down {
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(45deg);
}

.dropdown-btn .arrow.rotate {
    transform: rotate(225deg);
}


.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #88BB6B;
}

h2 {
    color: #414e39;
}

.image-gallery {
    display: flex;
    gap: 10px;
}

.clickable-image {
    width: auto; 
    height: auto;
    cursor: pointer;
}

.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.overlay-toggle {
    display: none; 
}

.overlay-toggle:checked + .overlay {
    display: flex; 
}

.overlay-content {
    cursor: pointer;
}

.overlay-image {
    width: 1000px; 
    height: auto; 
    max-height: 1000px; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.Film-registrering {
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(227, 0, 0);
    padding: 20px;
}
.Skjema {
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(227, 0, 0);
    padding: 20px;
}
footer {
    text-align: center;
    margin-bottom: 1px;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}
.box-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.box {
    width: 30%;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.box h3 {
    margin-top: 0;
}

.box:hover {
    background-color: #e0e0e0;
}

.centered-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.centered-image-container img {
    max-width: 100%;
    height: auto;
}

.centered-image-container h1 {
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.small-text-container {
    font-size: 0.5rem;
    color: #FFDDCC;
    line-height: 1.2;
    margin: 50px auto;
    width: 90%;
    text-align: justify;
}

.centered-title {   
    text-align: center;
}

.konsept_header {
    text-align: center;
}

.konsept_grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
    margin-top: 20px;
    text-align: center;
}

.konsept_grid-item {
    width: 100%;
    text-align: center;
}

.konsept_file-button {
    background-color: #4CAF50;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: inline-block;
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
}

.konsept_file-button:hover {
    background-color: #45a049;
}

.Fag_overskrift {
    text-align: center;
    color: #3d3b3b;
}

.Fag_info {
    text-align: center;
    color: #3d3b3b;
}

.Fag_tittel {
    text-align: center;
    color: #4CAF50;
}